i.icon {
    font-size: 1.35em;
}

.container.main{
    margin-top: 7em;
}

.huge.header{
    text-align: center;
}

#delete {
    display: inline;
}

.showStyle{
    margin-top: 5px;
}

.ui.text.container span{
    font-size: 1em;
    font-style: italic;
}
.showStyle1{
    margin-top: 10px;
}
